$mainBlue: #3FA396;
$mainRed: #E63C23;
$complimentaryGray: #D9D9D9;

.fullEditPage{
    width: 100vw;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: $mainBlue;
}