.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    z-index: 1000; // Ensuring it's on top
}

.actualLoader{
    width: 70vw;
    height: auto;
}