$mainBlue: #3FA396;
$mainRed: #E63C23;

.password-prompt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); // Semi-transparent background
  z-index: 1000; // High z-index to ensure it's on top
}

.password-prompt {
  background-color: white;
  padding: 20px;
  width: 30%;
  min-width: 300px; // Ensure it doesn't get too small on narrow screens
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;

  input {
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid $mainBlue;
    border-radius: 5px;
    width: 100%;
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
      color: white;
      background-color: $mainBlue;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($mainBlue, 10%);
      }

      &.forgot {
        background-color: $mainRed;

        &:hover {
          background-color: darken($mainRed, 10%);
        }
      }
    }
  }
}
